<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <form action="/registrarse" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Registrate</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            {{#if message}}
                <div class="alert alert-{{message.status}}" role="alert">
                    {{message.text}}
                </div>
            {{/if}}
        </div>
    </div>
</div>