<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Contact</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
              </ul>
            </div>
        </nav>
    </header>
    <main>
      <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1>Contact me</h1>
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-12 text-center d-flex align-items-center mb-4">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.0296476324293!2d-58.48387434872548!3d-34.628691066231895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9c8f6f20249%3A0xbcedbed98d0cf5e6!2sAv.%20Avellaneda%203749%2C%20C1407GYH%20CABA!5e0!3m2!1ses!2sar!4v1613004210378!5m2!1ses!2sar" width="400" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-5">
                      <form action="">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Nombre completo">
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Empresa">
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="example@example.ocm">
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" aria-label="With textarea" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Enviame una consulta</button>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>  
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>